@using OnlineTicariOtomasyon.Models
@model Kategori
@{
    ViewBag.Title = "Kategroi Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Yeni Kategori Ekle</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Kategori/Index">Kategori</a></li>
        <li class="breadcrumb-item active">Yeni Kategori Ekle</li>
    </ol>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Kategori</div>
                <div class="card-body">

                    @using (Html.BeginForm("Ekle", "Kategori", FormMethod.Post))
                    {
                        <div class="form-row">
                            <div class="col-md-12">
                                @Html.LabelFor(x => x.Ad, "Kategori Adı", new { @class = "small mb-1" })
                                @Html.TextBoxFor(x => x.Ad, new { @class = "form-control py-3" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group mt-4 mb-0">
                                    <button class="btn btn-primary btn-block" type="submit" id="btnEkle">Ekle</button>                   
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

</div>