@using OnlineTicariOtomasyon.Models
@model List<Kategori>
@{ ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<div class="container-fluid">
    <h1 class="mt-4">Kategoriler</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Kategori/Index">Kategori</a></li>
        <li class="breadcrumb-item active">Kategoriler</li>
    </ol>
    @if (TempData["KategoriSuccess"] != null)
    {
<div class="alert alert-success alert-dismissible fade show" role="alert">
    @TempData["KategoriSuccess"].ToString()
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>}
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Kategori Listesi</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Kategori Adı</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Kategori Adı</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var kategori in Model)
                        {
            <tr>
                <td>@kategori.Id</td>
                <td>@kategori.Ad</td>
                <td>
                    <a href="/Kategori/Duzenle/@kategori.Id" class="btn btn-primary">Düzenle</a>
                    <a href="/Kategori/Sil/@kategori.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-group mt-4 mb-0"><a class="btn btn-primary" href="/Kategori/Ekle">Yeni Kategori Ekle</a></div>
</div>