@using OnlineTicariOtomasyon.Models
@model Departman
@{
    ViewBag.Title = "Departman Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Yeni Departman Ekle</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Departman/Index">Departman</a></li>
        <li class="breadcrumb-item active">Yeni Departman Ekle</li>
    </ol>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Departman</div>
                <div class="card-body">

                    @using (Html.BeginForm("Ekle", "Departman", FormMethod.Post))
                    {
                        <div class="form-row">
                            <div class="col-md-12">
                                @Html.LabelFor(x => x.Ad, "Departman Adı", new { @class = "small mb-1" })
                                @Html.TextBoxFor(x => x.Ad, new { @class = "form-control py-3" })
                                @Html.ValidationMessageFor(x => x.Ad, "", new { @class = "small", @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group mt-4 mb-0">
                                    <button class="btn btn-primary btn-block" type="submit">Ekle</button>
                                </div>
                            </div>
                        </div>}

                </div>
            </div>
        </div>
    </div>

</div>